@import "src/designSystem/css/theme.scss";

.icon-container {
  width: 300px;
  height: 150px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .icons {
    width: 250px;
    height: 250px;
  }
}
