@import "src/designSystem/css/theme.scss";

.cell {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid rgba(242, 242, 242, 0.415);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &.holiday {
    color: rgb(255, 97, 97);
    background-color: rgba(255, 172, 172, 0.118);

    &:hover {
      background-color: rgba(255, 172, 172, 0.251);
    }
  }

  &:hover {
    background-color: rgba(248, 248, 248, 0.516);
  }

  .desc {
    font-size: 0.625rem;
    color: inherit;
  }
}
