@import "src/designSystem/css/theme.scss";

.container {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    background-color: $white;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $colorBorder;
    gap: 0.5rem;

    .body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
    }

    .ping-animation {
      position: absolute;
      left: -1.28rem;
      width: 10px;
      aspect-ratio: 1/1;
      background-color: $colorBrandPrimary;
      border-radius: 10px;
      opacity: 0;
      z-index: 20;
    }

    .actor {
      font-weight: 500;
    }

    .content {
      background-color: $colorBgMenuActive;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      color: $colorTextSecondary;
      width: max-content;
    }

    .footer {
      display: flex;
      gap: 1rem;
      color: $colorTextPlaceholder;
    }
  }

  .card:first-of-type .ping-animation {
    opacity: 1;
  }

  .card::before {
    position: absolute;
    left: -1.28rem;
    content: "";
    width: 10px;
    aspect-ratio: 1/1;
    background-color: $colorBorderInput;
    border-radius: 10px;
  }

  .card:first-of-type::before {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    background-color: $colorBrandPrimary;
  }

  .card::after {
    position: absolute;
    content: "";
    left: -1rem;
    width: 2px;
    height: 130%;
    border-left: 1px solid $colorBorderInput;
    transform: translateY(50%);
  }

  .card:last-of-type::after {
    border: none;
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
